/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body
{
    background: #FC837B; /* change */
    color: #fff; /* change */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article
{
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
    background: #B27A77;
}

aside
{ background: #FC837B;
}

figure
{
  background: #FFB8B3;
  color: #fff;
}

a:link { color: #B27A77;}
a:visited {color:#A64038 }
a:focus {color:#FFB8B3}
a:hover {color:#AD8B77 }
a:active {color:#867177}


header
{
  background: #AECBBA;
  color: #fff;
}

footer {
  background: #AECBBA;
  color: #fff;
}
/* add your styles here */

/* add your pseudo classes below this line */
